/* colors */

* {
  al:      #00000000;
  bg:      #141c21ff;
  se:      #1C252Aff;
  fg:      #93a1a1cc;
  ac:      #447BD0ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
